version: "3.8"

services:
  zookeeper:
    image: bitnami/zookeeper:3.9
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes

  kafka:
    image: bitnami/kafka:3.7
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      # Zookeeper connection
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181

      # Kafka listeners
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092

      # Allow 1-node cluster
      - ALLOW_PLAINTEXT_LISTENER=yes

    depends_on:
      - zookeeper
